<!doctype html>
<html lang="en">

<head>
    <title>login-signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/login_signup.css">
</head>

<body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="section d-flex align-item-center justify-content-center">

        <div class="img text-center align-self-center py-5 log-block">
            <img src="../static/images/login-img.png" alt="" class="log-img">
        </div>

        <div class="col-12 text-center align-self-center py-5">

            <h6 class="mb-0 pb-3">
                <span>Log In </span>
                <span>Sign Up</span>
            </h6>

            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />

            <label for="reg-log"></label>

            <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">

                    <div class="card-front">
                        <div class="center-wrap">
                            <div class="section text-center">
                                <h4 class="mb-4 pb-3">Log In</h4>

                                <div class="form-group">
                                    <input type="email" class="form-style empty" placeholder="Email" id="email">
                                    <i class="input-icon uil uil-at"></i>
                                </div>

                                <div class="form-group mt-2">
                                    <input type="password" class="form-style empty" placeholder="Password"
                                        id="password">
                                    <i class="input-icon uil uil-lock-alt"></i>
                                </div>

                                <a href="#" class="btn mt-4" id="button">Login</a>

                                <p class="mb-0 mt-4 text-center">
                                    <a href="/reset_password" class="link">Forgot your password?</a>
                                </p>

                                <p class="mb-0 mt-4 text-center">
                                    <a href="#" class="link text-danger" id="error">You Have Enter Wrong email or
                                        password<a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card-back">
                        <div class="center-wrap">
                            <div class="section text-center">
                                <h4 class="mb-3 pb-3">Sign Up</h4>

                                <form action="/signup" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-style empty" placeholder="Full Name" name="name">
                                        <i class="input-icon uil uil-user"></i>
                                    </div>

                                    <div class="form-group mt-2">
                                        <input type="tel" class="form-style empty" placeholder="Phone Number"
                                            name="phone">
                                        <i class="input-icon uil uil-phone"></i>
                                    </div>

                                    <div class="form-group mt-2">
                                        <input type="email" class="form-style empty" placeholder="Email" name="email">
                                        <i class="input-icon uil uil-at"></i>
                                    </div>

                                    <div class="form-group mt-2">
                                        <input type="password" class="form-style empty" placeholder="Password"
                                            name="password">
                                        <i class="input-icon uil uil-lock-alt"></i>
                                    </div>

                                    <button type="Submit" class="btn mt-4" id="s-message">Register</button>

                                    <div class="form-group mt-3">
                                        <a href="#" class="link text-success" id="s-success">Your Account is created
                                            Successfully
                                            <a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        var error = document.querySelector("#error");
        error.style.display = "none";

        document.querySelector('#button').addEventListener('click', async () => {
            var e = document.querySelector('#email').value;
            var p = document.querySelector('#password').value;
            var error = document.querySelector("#error");

            try {
                const response = await fetch('/login')
                const data = await response.json();
                console.log(data)

                for (let i = 0; i <= data.length; i++) {
                    if (data[i]["Email"] == e) {
                        if (data[i]["password"] == p) {
                            window.location.href = '/home';
                            reset_email();
                            reset_password();
                            timeout();
                        }
                        else {
                            error.innerHTML = "Invalid Password";
                            error.style.display = "block";
                            reset_password();
                            timeout();
                        }
                    }
                    else {
                        error.innerHTML = "Invalid Email id";
                        error.style.display = "block";
                        reset_email();
                        timeout();
                    }
                }
            }
            catch (error) {
                console.error('Error', error);
            }
        })

        function reset_email() {
            var e = document.querySelector('#email');
            e.value = "";
        }

        function reset_password() {
            var p = document.querySelector('#password');
            p.value = "";
        }

        function reset_all() {
            var r = document.querySelectorAll('.empty');
            r.value = "";
        }

        function timeout() {
            setTimeout(function () {
                var error = document.querySelector("#error");
                error.innerHTML = "";
            }, 5000);
        }
    </script>

    <script>
        var error = document.querySelector("#s-success");
        var r = document.querySelectorAll('.empty');
        error.style.display = "none";

        document.querySelector("#s-message").addEventListener('click', () => {
            error.style.display = "block";
            reset_all();
            timeout();
        })
    </script>
</body>

</html>