<!doctype html>
<html lang="en">

<head>
    <title>login-signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/reset_password.css">
</head>

<body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="section d-flex align-item-center justify-content-center">

        <div class="img text-center align-self-center py-5 log-block">
            <img src="../static/images/login-img.png" alt="" class="log-img">
        </div>

        <div class="col-12 text-center align-self-center py-5">

            <h6 class="mb-0 pb-3">
                <span>Verification</span>
                <span>Reset</span>
            </h6>

            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" disabled>

            <label for="reg-log"></label>

            <div class="card-3d-wrap mx-auto">

                <div class="card-3d-wrapper">

                    <div class="card-front">
                        <div class="center-wrap">
                            <div class="section text-center">

                                <h4 class="mb-4 pb-3">Account Recovery</h4>

                                <div class="form-group" id="verify">
                                    <form action="/recovery" method="post">
                                        <input type="email" class="form-style" placeholder="Email" name="email"
                                            id="e_mail" required>
                                        <i class="input-icon uil uil-at"></i>

                                        <button type="Submit" class="btn mt-4" id="send">Send Verification Code</button>
                                    </form>
                                </div>

                                <p class="mb-0 mt-4 text-center" id="v-message">
                                    <a href="#" class="link text-success">Verification code is send to your email
                                        successfully<a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card-back">
                        <div class="center-wrap">
                            <div class="section text-center">
                                <h4 class="mb-3 pb-3">Welcome Back</h4>
                                <div class="form-group mt-2">
                                    <input type="password" class="form-style" placeholder="New Password">
                                    <i class="input-icon uil uil-at"></i>
                                </div>
                                <div class="form-group mt-2">
                                    <input type="password" class="form-style" placeholder="Re-enter Password">
                                    <i class="input-icon uil uil-lock-alt"></i>
                                </div>
                                <a href="https://www.web-leb.com/code" class="btn mt-4">Update</a>

                                <div class="form-group mt-3">
                                    <a href="#" class="link text-success">Your Password is Updated Successfully
                                        <a>
                                </div>
                                <div class="form-group mt-3">
                                    <a href="#" class="link text-danger">Both Password Don't Match. Try Again
                                        <a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector("#v-message").style.display = "none";

        document.querySelector("#send").addEventListener("click", () => {
            document.querySelector("#v-message").style.display = "block";
        });
    </script>

</body>

</html>