body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 10px;
    text-align: center;
}

.container {
    padding: 1px 16px;
    box-shadow: 2px 2px 6px goldenrod, -2px -2px 6px goldenrod;
    box-shadow: 2px 2px 6px gray, -2px -2px 6px gray;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 16px;
    margin-left: 80px;
}

.button:hover {
    background-color: goldenrod;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

h1 a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label,
label button {
    position: relative;
    font-size: 1rem;
    overflow: hidden;
    border: 1px solid goldenrod;
    color: white;
    background-color: transparent;
    border-radius: 20px;
}

label {
    margin: 15px 0px;
}

label button {
    overflow: hidden;
    padding: 10px 25px;
    position: relative;
    z-index: 1;
}

label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 254%;
    width: 140%;
    background: goldenrod;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-99%) translateY(-25%) rotate(45deg);
    transform: translateX(-122%) translateY(-10%) rotate(45deg);
}

button:hover {
    cursor: pointer;
}

label:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}